# ============================================================
# Terraform
# ============================================================

.terraform/
**/.terraform/

*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfvars
*.tfvars.json

*.tfplan
*.plan

.terraformrc
terraform.rc

override.tf
override.tf.json
*_override.tf
*_override.tf.json

## Keys
terra-key.pub
terra-key

!example_override.tf